<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #message{
            width:600px;
            color: red;
            font-size: 20px;
            margin: auto;
            text-align: center;
        }
    </style>
    <title>Error</title>
</head>
<body>
    <div id="message"><%=message %></div>
</body>
</html>