*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;

}
body{
    height: 100vh;
    display: flex;
}

/* for navigation bar */
nav{
    width: 78px;
    overflow: hidden;
    z-index: 5;
    background-color: #e6c9ab;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 8px black;
}
nav:hover{
    width: 195px;
}
nav img{
    width: 40px;
}
nav > ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
nav>ul>li{
    position: relative;
    padding: 17px 17px;
}
nav li:hover{
    background-color: rgb(176, 176, 176);

}
nav span{
    position: absolute;
    padding: 0px 10px;
    top: 31px;
    left: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


main{
    width: 100%;
}
#greet{
    font-size: 30px;
    margin: 25px 10px;
}
#greet div{
    display: inline-block;
    font-family: math;
    color: #1737d4;
}

/* holds the functional button to do operations */
#operation{
    display: flex;
    flex-wrap: wrap;
}
.numCard{
    font-size: 20px;
    padding: 20px 30px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 1px 2px 6px 0px #0607ff;
    color: chocolate;
}
.number{
    text-align: center;
    color:green;
}
/* all the clickble cards that have round corner and can be clicked */
.card{
    font-size: 20px;
    padding: 20px 30px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 1px 2px 6px 0px #0607ff;
}

.card > div{
    display: inline-block;
}
.card:hover{
    cursor: pointer;
}
.action{
    
    float: right;
    position: relative;

}

@media (max-width: 600px) {
    nav{
        width: 78px;
    }
}