:root {
    --color: #00ff9f;
    --nav-color: #11f3cc;
    --nav-background-color: #31302f;
}
* {
    margin: 0px;
    padding: 0px;
    scrollbar-color: #444 #222;
}

a {
    text-decoration: none;
    color: black;
}

body {

    display: flex;
}

#book{
    display: flex;
}
/* for navigation bar */
nav {
    width: 78px;
    overflow: hidden;
    z-index: 5;
    background-color: var(--nav-background-color);
    box-shadow: 2px 1px 7px 0px black;
    transition: all 0.5s ease-in-out;
    height: 93.25vh;
}
#nav-book{
    background-color: black;
}

nav:hover {
    width: 195px;
}
.nav-option a{
    display:flex;
    width: 100%;
    height: 100%;
}

nav img {
    width: 40px;
    filter: invert();
}

nav>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav>ul>li {
    position: relative;
    padding: 17px 17px;
}

nav li:hover {
    background-color: rgb(24 60 79);

}

nav span {
    color: white;
    position: absolute;
    padding: 0px 10px;
    top: 31px;
    left: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#right-div{
    width: 100%;
    padding: 15px 0px 0px 15px;
    background-color: #162526;
    height: 91.6vh;
}
#content{
    height:79.2vh ;
    overflow-y: scroll;
    scrollbar-width: thin;
}
main {
    width: 100%;
}

#greet {
    background-color: var(--nav-background-color);
    font-size: 30px;
    color: var(--nav-color);
    padding: 14px 17px;
    box-shadow: 2px 2px 4px var(--nav-color);
    position: relative;
    z-index: 10;
}

#greet div {
    display: inline;
}
#greet #hamburger{
    
    display: none;
    font-size: 35px;
    color: white;
    margin-right: 20px;
}
#hamburger:hover{
    cursor: pointer;
}

/* holds the functional button to do operations */
#operation {
    display: flex;
    flex-wrap: wrap;
}
.image img{
    width: 25px;
}

.option:hover{
 cursor: pointer;
 background-color: #b5eed1;
}
.option:active{
    background-color: #7fc38b;
}
strong div{
    display: inline;
}


/* all the clickble cards that have round corner and can be clicked */
.card {
    font-size: 20px;
    padding: 12px 20px;
    border: 2px solid #00ff06;
    margin: 10px;
    border-radius: 6px;
    background-color: #cae6e0;
    box-shadow: 2px 2px 5px 0px #01d46f;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;

}


#serverMessage{
    text-align: center;
    font: 1em sans-serif;
}
#sucessMessage{
    color: blue;
}
#failureMessage{
    color: white;
}
/* for issued books ejs */
.member-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.status{
    color: green;
    height: 24px;
    margin: auto;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}
.issueId{
    color: red;
}
.userName{
    color: blue;
}
.bookName{
    color: green;
}
.date{
    color: purple;
}

/* for the responsive design */

@media (max-width: 600px) {
    nav {
        max-width: 75px;
    }

    .card {
        padding: 5px;
        font-size: 0.95em;
        margin: 0px 5px 10px 0px;
    }

    nav>ul>li {
        position: relative;
        padding: 17px 13px;
    }
}
@media (max-width: 720px) {
    #content {
        height: 85.2vh;
        
    }
}
@media (max-width: 470px) {
    #greet #hamburger {
        display: inline-block;
    }
    nav{
        position: absolute;
        width:0px;
        height: 94.5vh;
    }
    #greet {
        color: white;
        font-size: 20px;
        padding: 5px 12px;
    }
    #right-div{
        height: 92.63vh;
    }

}